.square {
  background-color: yellow;
  height: 8em;
  width: 8em;
}

header {
  background-color: hotpink;
}
main {
  background: green;
  height: 120vh;
}

footer {
  background-color: hotpink;
  height: 10em;
}
